@media (max-width:700px) {
    .birthdayCard, .cardFront, .cardInside{
        height: 250px;
        width: 170px
    
}

.cardFront .cardInside {
    padding: 15px;    
}

.birthdayCard:hover {
    transform:  rotate(5deg) translateX(80px);
}


.happy {
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    font-size: 0.7rem;
}

.back{
    font-size: 0.7rem;
    margin: 3px;
}

.receiver {
    margin: 8px 0 4px;
    font-size: 0.8rem;

}

.content {
font-size: 0.65rem;
}

.sender{
margin: 5px 10px 0 0;
font-size: 0.8rem;
}
}


